<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/58d99c8dac.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./styles/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="./styles/alertify.min.css">
    <link rel="stylesheet" href="./styles/default.css">
    <title>F R A N C O, Contacto </title>
</head>

<body class="bg-light" id="app">
    <header>
        <a href="index.html" class="contenedor_logo_titulo">
            <img src="./assets/schnauzer-logo2.png" alt="logo" id="header-image">
            <h3 class="">FRANCO PET-SHOP</h3>
        </a>

        <input type="checkbox" id="toggle_navbar">
        <label for="toggle_navbar">
            <span id="open_toggle">&equiv;</span>
            <span id="close_toggle">&#10006;</span>
        </label>

        <div class="contenedor_navbar_shoppingBag">
            <nav id="navbar">
                <a href="./index.html">INICIO</a>
                <a href="./jugueteria.html">JUGUETES</a>
                <a href="./farmacia.html">FARMACIA</a>
                <a href="./contacto.html" class="link_active">CONTACTENOS</a>
            </nav>
            <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
                aria-controls="offcanvasRight">
                <i class="fas fa-shopping-bag shopping-bag"></i>
            </button>
        </div>
    </header>
    <main>
        <form class="m-sm-0 mx-md-4 mx-lg-5 p-lg-4 formularioMovil mainFormulario">
            <div class="row mx-5 mt-5 parrafoMovil">
                <h4 class="display-4 fw-normal my-1 mx-2 px-3 text-left">Formulario de contacto</h4>
                <p class="col-12 lead presentacion my-1 mx-2 px-3 parrafoMovil">Qué bueno que hayas llegado hasta
                    acá...Sin mucho más
                    rodeo, abajo
                    podés dejarnos tus comentarios para que sigamos en contacto.</p>
            </div>
            <div class="row m-sm-0 m-5 pb-4 campo">
                <div class="col nombreYApellido">
                    <div class="form-outline campo">
                        <label class="form-label" for="nombre">Tu nombre y apellido <span
                                class="spanRojo">*</span></label>
                        <input v-model="formElements[0]" type="text" id="nombre" class="form-control"
                            placeholder="Ej: Marcos Marquesi" />
                    </div>
                </div>
                <div class="col">
                    <div class="form-outline campo">
                        <label class="form-label" for="mascota">¿El de tu mascota?</label>
                        <input type="text" id="mascota" class="form-control" v-model="nombreMascota"
                            placeholder="Ej: Firu" />
                    </div>
                </div>
            </div>

            <!-- Text input -->
            <div class="form-outline m-sm-0 m-5 pb-4 campo">
                <label class="form-label" for="hobbies">Paseo o hobbie favorito de {{nombreMascota}}</label>
                <input type="text" id="hobbies" class="form-control" placeholder="Ej: concurso de perros" />
            </div>

            <!-- Text input -->
            <div class="form-outline m-sm-0 m-5 pb-4 campo">
                <label class="form-label" for="form6Example4">{{nombreMascota}}, ¿es perro o gato? ¿Quizás otra
                    especie?</label>
                <input type="text" id="form6Example4" class="form-control" placeholder="Ej: perro" />
            </div>

            <!-- Email input -->
            <div class="form-outline m-sm-0 m-5 pb-4 campo">
                <label class="form-label" for="form6Example5">¿Cuál es tu correo electrónico? <span
                        class="spanRojo">*</span></label>
                <input v-model="formElements[1]" type="email" id="form6Example5" class="form-control"
                    placeholder="Ej: franco@dogmail.com" />
            </div>

            <!-- Number input -->
            <fieldset class="form-outline m-sm-0 m-5 pb-4 campo">
                <label class="form-label" for="form6Example6">¿Tu número de teléfono?</label>
                <input type="number" id="form6Example6" class="form-control" required placeholder="Ej: 47656549" />
            </fieldset>

            <!-- Message input -->
            <div class="form-outline m-sm-0 m-5 pb-4 campo">
                <label class="form-label" for="form6Example7">¿Dudas, comentarios, sugerencias, pedidos? Todo aca abajo
                    ⬇</label>
                <textarea class="form-control" id="form6Example7" rows="4" placeholder="Comentario..."></textarea>
            </div>

            <!-- Checkbox -->
            <div class="form-check d-flex justify-content-center mb-4">
                <input class="form-check-input me-2" type="checkbox" value="" id="form6Example8" checked />
                <label class="form-check-label" for="form6Example8"> ¿Te gustaría recibir novedades de Franco? </label>
            </div>
            <p><span class="spanRojo">*</span> campos obligatorios</p>
            <!-- Submit button -->
            <button type="button" class="btn btn-dark btn-block m-5 botonMovil" @click="alertaContacto()"
                :disabled=habilitar>¡Enviar!</button>
        </form>
        <!-- OFF CANVAS CARRITO -->
        <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
            aria-controls="offcanvasRight" id="myBtn">
            <img src="./assets/shopping.png" id="cart-img" alt="">
            <p class="cantidad-productos" v-cloak>{{totalProductosCarrito}}</p>
        </button>

        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
            <div class="offcanvas-header contenedor bg-dark">
                <button type="button" data-bs-dismiss="offcanvas" aria-label="Close">&times;</button>
                <h4 id="offcanvasRightLabel" v-if="!carrito.length==0" class="col-12 text-center text-white">
                    Tu carrito tiene los siguientes productos </h4>
                <transition name="custom-classes-transition" enter-active-class="animated tada">
                    <h4 class="mt-2 col-12  text-center text-white" v-if="carrito.length==0">Tu carrito está vacío</h4>
                </transition>
            </div>
            <section class="offcanvas-body">
                <transition name="custom-classes-transition" enter-active-class="animated bounceInLeft">
                    <div id="offcanvasRightLabel" v-if="carrito.length==0" class="col-12 row justify-content-center">
                        <img src="./assets/carrito-triste.png" alt="icono carrito triste"
                            class="carrito-miniatura col-8">
                    </div>
                </transition>

                <div v-if="!carrito.length==0">
                    <div v-for="producto in carrito" class="contenedor" :key="producto._id">
                        <div class="item-1 align-middle text-wrap">{{producto.nombre}}</div>
                        <div class="item-2"><img v-bind:src="producto.imagen" alt="imagen de producto"
                                class="img-miniatura">
                        </div>
                        <div class="item-3">{{producto.cantidad}}</div>
                        <div class="item-5"><button class=" btn btn-dark btn-block btn-miniatura"
                                @click="agregarProductoCarrito(producto)">&#43;</button></div>
                        <div class="item-4"><button class=" btn btn-dark btn-block btn-miniatura"
                                @click="quitarProductoCarrito(producto)">&minus;</button></div>
                        <div class="item-7" @click="eliminarProducto(producto)">&times;</div>
                        <div class="item-6 align-middle">Subtotal</div>
                        <div class="item-8 align-middle">${{subtotalProducto(producto)}}</div>
                    </div>
                    <div class="row justify-content-between">
                        <p class="col-6 text-right"><span>Total productos:</span> {{totalProductosCarrito}}</p>
                        <p class="col-6 text-right"><span> Precio total:</span> ${{calcularPrecioTotal}} </p>
                    </div>
                </div>
            </section>
        </div>

        <footer class=" bg-dark d-flex flex-column justify-content-between align-items-center border-top p-4"
            id="footer" v-show="!carga">

            <div class="d-flex justify-content-center align-items-center contenedores_laterales">
                <img src="./assets/schnauzer-logo2.png" alt="" id="footer-image">
            </div>

            <div class=" d-flex flex-column text-center contenedor_sobre_mi">
                <h4 class="text-white">SOBRE MI
                    <!-- SOBRE MI-->
                </h4>
                <p class="text-white text-justify">¡Hola! Mi nombre es Franco y soy un Schnauzer. Me armé esta página
                    para
                    recomendarles todo lo que hace mi humano. Es increíblemente profesional, sorprendentemente
                    prolijo e infinitamente amigable. ¡No muerde y al primer ladrido suelta unos dulces riquisimos!
                </p>
            </div>

            <div class=" d-flex flex-column text-center justify-content-between contenedores_laterales">
                <h4 class="text-white">MIS REDES
                    <!-- MIS REDES-->
                </h4>

                <div class="d-flex justify-content-between w-100 mx-auto contenedor_mis_redes">
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>

                <span class="text-muted">F R A N C O | PetYop &copy; 2021</span>

            </div>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
            crossorigin="anonymous"></script>
        <script src="https://unpkg.com/vue@next"></script>
        <script src="./script/alertify.min.js"></script>
        <script src="./script/app.js"></script>
    </main>
</body>
<!-- prueba rodri en contacto -->

</html>