<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/58d99c8dac.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="./styles/style.css">
    <link rel="stylesheet" href="./styles/alertify.min.css">
    <link rel="stylesheet" href="./styles/default.css">
    <title>F R A N C O - Home</title>
</head>

<body class="bg-light" id="app">
    <header>
        <a href="index.html" class="contenedor_logo_titulo">
            <img src="./assets/schnauzer-logo2.png" alt="logo" id="header-image">
            <h3 class="">FRANCO PET-SHOP</h3>
        </a>

        <input type="checkbox" id="toggle_navbar">
        <label for="toggle_navbar">
            <span id="open_toggle">&equiv;</span>
            <span id="close_toggle">&#10006;</span>
        </label>

        <div class="contenedor_navbar_shoppingBag">
            <nav id="navbar">
                <a href="./index.html" class="link_active">INICIO</a>
                <a href="./jugueteria.html">JUGUETES</a>
                <a href="./farmacia.html">FARMACIA</a>
                <a href="./contacto.html">CONTACTENOS</a>
            </nav>
            <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
                aria-controls="offcanvasRight">
                <i class="fas fa-shopping-bag shopping-bag"></i>
            </button>
        </div>
    </header>

    <main class="pt-5">
        <div class="row text-center p-5 justify-content-center">
            <h1 class="display-4 fw-normal my-5 pb-2 pt-5">¿Seguís acá humano? 🙆‍♂️</a></h1>
            <p class="col-11 lead presentacion mx-4 px-4">Ya te mostramos todos nuestros productos, dónde
                estamos y nuestros datos. Pero bueno, ya que seguís acá te proponemos un juego super fácil. Tenés 4
                opciones,
                en una está escondido Franco y en las otras un par de sus amigos (y clientes felices nuestros). A ver a
                quién encontrás primero :)</p>
        </div>
        <div class="contenedor-juego keys py-5" id="centro">
            <div class="juego-foto">
                <img :src="animalAMostrar" alt="" class="image-juego">
            </div>
            <div data-key="65" class="juego-1 key p-5" @click="mostrarAnimal('hamster')">A </div>
            <div data-key="83" class="juego-2 key p-5" @click="mostrarAnimal('franco')">S</div>
            <div data-key="68" class="juego-3 key p-5" @click="mostrarAnimal('gato')">D</div>
            <div data-key="70" class="juego-4 key p-5" @click="mostrarAnimal('gaviota')">F</div>

            <audio data-key="65" src="./sounds/hamster.ogg"></audio>
            <audio data-key="83" src="./sounds/franco.ogg"></audio>
            <audio data-key="68" src="./sounds/gato.ogg"></audio>
            <audio data-key="70" src="./sounds/gaviota.ogg"></audio>
        </div>

        <!-- OFF CANVAS CARRITO -->
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
            <div class="offcanvas-header contenedor bg-dark">
                <button type="button" data-bs-dismiss="offcanvas" aria-label="Close">&times;</button>
                <h4 id="offcanvasRightLabel" v-if="!carrito.length==0" class="col-12 text-center text-white">
                    Tu carrito tiene los siguientes productos </h4>
                <transition name="custom-classes-transition" enter-active-class="animated tada">
                    <h4 class="mt-2 col-12  text-center text-white" v-if="carrito.length==0">Tu carrito está vacío</h4>
                </transition>
            </div>
            <section class="offcanvas-body">
                <transition name="custom-classes-transition" enter-active-class="animated bounceInLeft">
                    <div id="offcanvasRightLabel" v-if="carrito.length==0" class="col-12 row justify-content-center">
                        <img src="./assets/carrito-triste.png" alt="icono carrito triste"
                            class="carrito-miniatura col-8">
                    </div>
                </transition>

                <div v-if="!carrito.length==0">
                    <div v-for="producto in carrito" class="contenedor" :key="producto._id">
                        <div class="item-1 align-middle text-wrap">{{producto.nombre}}</div>
                        <div class="item-2"><img v-bind:src="producto.imagen" alt="imagen de producto"
                                class="img-miniatura">
                        </div>
                        <div class="item-3">{{producto.cantidad}}</div>
                        <div class="item-5"><button class=" btn btn-dark btn-block btn-miniatura"
                                @click="agregarProductoCarrito(producto)">&#43;</button></div>
                        <div class="item-4"><button class=" btn btn-dark btn-block btn-miniatura"
                                @click="quitarProductoCarrito(producto)">&minus;</button></div>
                        <div class="item-7" @click="eliminarProducto(producto)">&times;</div>
                        <div class="item-6 align-middle">Subtotal</div>
                        <div class="item-8 align-middle">${{subtotalProducto(producto)}}</div>
                    </div>
                    <div class="row justify-content-between">
                        <p class="col-6 text-right"><span>Total productos:</span> {{totalProductosCarrito}}</p>
                        <p class="col-6 text-right"><span> Precio total:</span> ${{calcularPrecioTotal}} </p>
                    </div>
                </div>
            </section>
        </div>
    </main>


    <footer class=" bg-dark d-flex flex-column justify-content-between align-items-center border-top p-4" id="footer">

        <div class="d-flex justify-content-center align-items-center contenedores_laterales">
            <img src="./assets/schnauzer-logo2.png" alt="" id="footer-image">
        </div>

        <div class=" d-flex flex-column text-center contenedor_sobre_mi">
            <h4 class="text-white">SOBRE MI
                <!-- SOBRE MI-->
            </h4>
            <p class="text-white text-justify">¡Hola! Mi nombre es Franco y soy un Schnauzer. Me armé esta página para
                recomendarles todo lo que hace mi humano. Es increíblemente profesional, sorprendentemente
                prolijo e infinitamente amigable. ¡No muerde y al primer ladrido suelta unos dulces riquisimos!
            </p>
        </div>

        <div class=" d-flex flex-column text-center justify-content-between contenedores_laterales">
            <h4 class="text-white">MIS REDES
                <!-- MIS REDES-->
            </h4>

            <div class="d-flex justify-content-between w-100 mx-auto contenedor_mis_redes">
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
            </div>

            <span class="text-muted">F R A N C O | PetYop &copy; 2021</span>

        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="./script/alertify.min.js"></script>
    <script src="./script/app.js"></script>
</body>
<!-- prueba push -->
<!-- prueba rodri -->
<!-- prueba luis -->
<!-- prueba wilson -->

</html>