 *{
     margin:0;
     padding:0,
 }
 
 #header-image, #footer-image {
      width: 100px !important;
      height: auto !important;
  }

  #header-image:hover {
      cursor: pointer;
  }

  body {
      height: 100vh;
      background-color: wheat
  }

  .happy-client {
      width: 100%!important;
  }

  .clients {
      height: 100%!important;
      width: 100%!important;
  }

  q {
      color: black;
  }

  .review-container {
      background-color: white;
      margin: 0.2em 0em;
  }

  .img-stock {
      position: absolute;
      right: 1vw;
      top: 1vh;
      height: 15vh!important;
      width: 15vh;
  }

  .imagen-container {
      position: absolute;
      max-width: 100%!important;
  }

  .italic {
      font-style: italic;
  }

  h5 {
      text-align: start;
      text-indent: 20px;
      margin-left: 1.5rem!important;
      font-size: 2rem!important;
      font-weight: 900;
      color: rgb(168, 190, 190);
      background-color: rgb(0, 0, 0);
      white-space: nowrap!important;
  }

  #catalogo {
      /* background-color: red; */
      min-width: 300px;
      max-width: 700px;
  }

  .card {
      min-height: 100%;
  }

  #myCarousel {
      height: 50vh!important;
  }

  h5 {
      text-align: center;
  }

  .card-text {
      text-align: justify;
  }

  strong {
      text-indent: 15px;
  }

  .map>* {
      max-width: 60%!important;
  }

  .presentacion {
      text-align: justify!important;
  }

  #myBtn {
      position: fixed;
      /* Fixed/sticky position */
      bottom: 20px;
      /* Place the button at the bottom of the page */
      left: 30px;
      /* Place the button 30px from the right */
      z-index: 99;
      cursor: pointer;
      /* Add a mouse pointer on hover */
      box-shadow: none!important;
  }

  #sadFace {
      max-width: 15vw;
  }

  iframe {
      min-width: 80%;
  }

  #cart-img {
      max-width: 50px;
      z-index: -2;
  }

  #search {
      min-width: 25vw!important;
      margin-left: 60vw;
  }